<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
   
  <servers>
    <server>
      <id>nexus-releases</id>
      <username>aastha</username>
      <password>admin123</password>
    </server>
    <server>
      <id>nexus-snapshots</id>
      <username>aastha</username>
      <password>admin123</password>
    </server>
    <server>
      <id>nexus-central</id>
      <username>aastha</username>
      <password>admin123</password>
    </server>
  <server>
      <id>nexus-group</id>
      <username>aastha</username>
      <password>admin123</password>
    </server>


 </servers>

<mirrors>
    <mirror>
      <id>nexus-central</id>
      <name>nexus central</name>
      <url>http://ec2-100-26-98-99.compute-1.amazonaws.com:8081/repository/servlet-central/</url>
      <mirrorOf>central</mirrorOf>
    </mirror>
</mirrors>
   
</settings>
